files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]             
            </If> 			

    "/etc/php-7.0.d/custom_upload.ini":
        mode: "000644"
        owner: ec2-user
        group: ec2-user
        content: |
            upload_max_filesize = 64M	

    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_asset_folders.sh":
        mode: "000777"
        owner: ec2-user
        group: ec2-user
        content: |
           #!/bin/bash
           mkdir -p /var/www/html/assets/
           mkdir -p /var/www/html/assets/images/
           mkdir -p /var/www/html/assets/csv
           mkdir -p /var/www/html/assets/documents
           mkdir -p /var/www/html/assets/email
           mkdir -p /var/www/html/assets/itinerary
           mkdir -p /var/www/html/assets/profile
           mkdir -p /var/www/html/assets/publications_extended
           mkdir -p /var/www/html/assets/vacancy
           mkdir -p /var/www/html/assets/documents/csv
           sudo chmod -R 777 /var/www/html/assets

commands:
   create_post_dir:
     command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
     ignoreErrors: true
   set_time_zone:
        command: ln -f -s /usr/share/zoneinfo/Africa/Windhoek /etc/localtime 
container_commands:
  01changePHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/Africa\/Windhoek/' /etc/php.d/environment.ini
  01achangePHP:
    command: sed -i '/aws.php_date_timezone/ s/UTC/Africa\/Windhoek/' /etc/php.d/environment.ini
  02change_AWS_PHP:
    command: sed -i '/PHP_DATE_TIMEZONE/ s/UTC/Africa\/Windhoek/' /etc/httpd/conf.d/aws_env.conf
  03php_ini_set:
    command: sed -i '/date.timezone/ s/UTC/Africa\/Windhoek/' /etc/php.ini
commands:
  01remove_local:
    command: "rm -rf /etc/localtime"
  02link_Buenos_Aires:
    command: "ln -s /usr/share/zoneinfo/Africa/Windhoek /etc/localtime"
  03restart_http:
    command: sudo service httpd restart        

        
